
{% extends 'base.twig' %}



{% block content %}

<h2>Register new user</h2>
{{ flash.error|raw }} <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="username"> <br />
<label>Password: </label>
<input type="password" name="password"> <br />
<label>Repeat password: </label>
<input type="password" name="passwordConf"> <br />
<label>Email: </label>
<input type="text" name="email"> <br />
<input type="submit" name="submit" value="Submit">
</form>

    <h6>Passwords has to contain:</h6>
    <ul>
        <li>At least one capital letter</li>
        <li>At least one small letter</li>
        <li>At least one number</li>
        <li>At least one special character</li>
        <li>Be at least 8 characters long</li>
    </ul>


{% endblock %}

