{% extends 'base.twig' %}



{% block content %}

    <h2>Register new user</h2>
   <p class="error"> {{ flash.error }} <br/> </p>

    <form action="" method="POST">

        <label>Username: </label>
        <input type="text" name="username"> <br/>
        <label>Password: </label>
        <input type="password" name="password"> <br/>
        <label>Repeat password: </label>
        <input type="password" name="passwordConf"> <br/>
        <label>Email: </label>
        <input type="email" name="email"> <br/>
        <div class="center-content">
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>

    <h5>Passwords has to contain:</h5>
    <ul>
        <li>At least one capital letter</li>
        <li>At least one small letter</li>
        <li>At least one number</li>
        <li>At least one special character</li>
        <li>Be at least 8 characters long</li>
    </ul>


{% endblock %}

